* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background:  #ddd;
    font-family: monospace;
    background: slateblue;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 2rem 0;
    color: White;
    background: slateblue;
    text-align: center;
}

header h1 {
    letter-spacing: 2px;
}


/* nav styles */

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list .nav-list__item {
    margin-bottom: 0;
    list-style: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .2s;
}

.nav-list .nav-list__item:not(:last-child){
    margin-right: 1rem;
}

.nav-list .nav-list__item:hover {
    background: rgb(214, 212, 212);
}

.nav-list .nav-list__item a {
    color: slateblue;
}

/* Module Styles */
main {
    padding: 0 1rem;
}
.module {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, .1);
}
.module__title {
    color: slateblue;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

ul {
    margin-top: .5rem;
}

ul li {
    padding: .5rem;
    background: rgb(204, 204, 204);

}

ul li:not(:last-child){
    margin-bottom: 10px;
}

ul li:nth-child(even){
    background: rgb(232, 230, 230);
}

ul li::marker {
    color: slateblue;
    font-size: 1.5rem;
}

ul li a{
    font-size: 1.1rem;
    color: #332a69;
    text-decoration: none;
}

@media only screen and (max-width: 45em){
    header h1 {
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
}

footer {
    background: slateblue;
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 1rem;
}

footer p a{
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    transition: all .2s;
    color: #fff;
    font-weight: 700;
}

footer p a:hover{
    transform: rotate(5deg) scale(1.1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
    background: #fff;
    color: slateblue;


}